#conteudo {
    padding: 125px 50px 10px;
}

.descricao {
    padding: 0px 50px 0px;
}

.ad-card {
    margin: 25px 0px 25px;
}

#cookies .alert {
    width: 40%;
    height: auto;
    margin: 0px 25px 25px;
}